{% block sidebar %}

            <style>
                    .card{
                        box-shadow: 0 16px 48px #E3E7EB;
                    }
                   
            </style>
            
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4 float-right ">
            <div class="card my-4">
                    <h5 class="card-header">About Us</h5>
                <div class="card-body">
                    <p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial to learn how we made it..!</p>
                    <a href="https://djangocentral.com/building-a-blog-application-with-django"
                       class="btn btn-danger">Know more!</a>
                </div>
            </div>
            </div>
            
            {% endblock sidebar %}
            <head>
                <title>Django Central</title>
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
                <meta name="google" content="notranslate" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                    crossorigin="anonymous" />
            </head>
            